.container {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  height: 1000px;
}

mat-list {
  height: 200px;
  overflow: auto;
}

#map {
  height: 500px;
  width: 500px;
  border: 1px solid red;
}

.selectedPlanet {
  position: absolute;
}
