<mat-card id="starBox" cdkDrag [cdkDragFreeDragPosition]="dragPosition">
    <mat-card-header class="header">

        <mat-card-title>Planets in System</mat-card-title>

    </mat-card-header>
    <mat-card-content>

        <ul id="starStats"></ul>
    </mat-card-content>
    <mat-card-actions class="planetButtons">
        <mat-icon cdkDragHandle id="dragIcon">zoom_out_map</mat-icon>
        <button mat-raised-button color="primary" id="zooomBtn" (click)="zoomIn()">Zoom</button>
        <button mat-raised-button color="primary" id="openBtn">Open</button>
        <mat-icon (click)="dismissBtn()">close</mat-icon>
    </mat-card-actions>

</mat-card>

<ng-template *ngIf="mapStars else loading">

    <svg [attr.height]="dimensions.height" [attr.width]="dimensions.width" id="svg" #svg fill="red">
        <image id="svgImg" preserveAspectRatio="none" href="../../assets/milky.jpg" [attr.width]="dimensions.width"
            [attr.height]="dimensions.height"></image>


        <circle *ngFor="let star of mapStars | filterUnique" [attr.cx]="getX(star.st_elat)"
            [attr.cy]="getY(star.st_elon)" #star r="0.5%" [attr.fill]="star.color" (mouseenter)="star.color='blue'"
            (mouseleave)="star.color='red'" matTooltip={{star.pl_hostname}}
            (click)="printPlanets(getPlanets(this.mapStars, getIndexes(this.mapStars, star.pl_hostname)), getX(star.st_elat), getY(star.st_elon))" />

    </svg>
</ng-template>

<ng-template #loading>

    <svg:text>hello there </svg:text>
</ng-template>