<mat-card id="starBox" #starBox cdkDrag [cdkDragFreeDragPosition]="dragPosition">
    <mat-card-header class="header">
        <mat-card-title *ngIf="!opened">Planets in System</mat-card-title>
        <mat-card-title *ngIf="opened">{{currentSystem[0].pl_hostname}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>

        <ul id="starStats" *ngIf="!opened">
            <li *ngFor="let planet of currentSystem">{{planet.pl_name}}</li>
        </ul>
        <!-- <svg *ngIf="opened">
            <circle [attr.cx]="" [attr.cy]="" />
            <circle *ngFor="let planet of currentSystem" [attr.cx]="" [attr.cy]="" [attr.fill]="star.color" />
        </svg> -->
    </mat-card-content>
    <mat-card-actions class="planetButtons">
        <mat-icon cdkDragHandle id="dragIcon">zoom_out_map</mat-icon>
        <button *ngIf="!zoomed" mat-raised-button color="primary" id="zoomBtn" (click)="zoomIn()">Zoom
            In</button>
        <button *ngIf="zoomed" mat-raised-button color="primary" id="zoomBtn" (click)="zoomOut()">Zoom Out</button>
        <button *ngIf="!opened" mat-raised-button color="primary" id="openBtn" (click)="open()">Open</button>
        <button *ngIf="opened" mat-raised-button color="primary" id="openBtn" (click)="close()">Back</button>
        <mat-icon (click)="dismissBtn()">close</mat-icon>
    </mat-card-actions>
</mat-card>

<div #container [hidden]="loading">
    <svg [attr.height]="dimensions.height" [attr.width]="dimensions.width" [attr.viewBox]="area" id="svg" #svg
        fill="red" preserveAspectRatio="xMidYMin slice" style="width: 90%; height: 70%; overflow: visible;">
        <image [hidden]="loading" #svgImg id="svgImg" preserveAspectRatio="none" href="../../assets/milky.jpg"
            [attr.width]="dimensions.width" [attr.height]="dimensions.height"></image>
        <circle *ngFor="let star of mapStars$ | filterUnique" [attr.cx]="getX(star.st_elat)"
            [attr.cy]="getY(star.st_elon)" class="star" #star r="0.5%" [attr.fill]="star.color"
            (mouseenter)="star.color='blue'" (mouseleave)="star.color='red'" matTooltip={{star.pl_hostname}}
            (click)="printPlanets(getPlanets(this.mapStars$, getIndexes(this.mapStars$, star.pl_hostname)), [$event])" />
    </svg>
</div>
<div *ngIf="loading" id="spinner">
    <mat-spinner></mat-spinner>
    <h2>Loading the Milky Way...</h2>
</div>