<mat-card id="starBox">
    <mat-card-header class="header">

        <mat-card-title>Planets in System</mat-card-title>

    </mat-card-header>
    <mat-card-content>

        <ul id="starStats"></ul>
    </mat-card-content>
    <mat-card-actions class="planetButtons">
        <mat-icon>zoom_out_map</mat-icon>
        <button mat-raised-button color="primary" id="zooomBtn">Zoom</button>
        <button mat-raised-button color="primary" id="dismissBtn">Dismiss</button>
        <mat-icon cursor="pointer" (click)="dismissBtn()">close</mat-icon>
    </mat-card-actions>

</mat-card>
<svg id="svg" #svg fill="red" (click)="zoomIn()">
    <g *ngIf="mapStars else loading">

        <circle *ngFor="let star of mapStars | filterUnique" [attr.cx]="getX(star.st_elat)"
            [attr.cy]="getY(star.st_elon)" #star r="0.5%" [attr.fill]="star.color" (mouseenter)="star.color='blue'"
            (mouseleave)="star.color='red'" matTooltip={{star.pl_hostname}}
            (click)="printPlanets(getPlanets(this.mapStars, getIndexes(this.mapStars, star.pl_hostname)))" />
    </g>
</svg>

<ng-template style="z-index:10;" #loading>

    <svg:text>hello there </svg:text>
</ng-template>