#svg {
  border: 1px solid red;
  position: absolute;
}

.header {
  display: flex;
  justify-content: center;
  border-bottom: none;
}

#starBox {
  border-radius: 8px;
  color: slategray;
  display: none;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  position: absolute;
  z-index: 1;
  mat-card-actions {
    align-self: center;
    padding-bottom: 10px;
  }

  ul {
    margin-top: 15px;
    align-items: center;
  }
}

.planetButtons {
  display: flex;
  align-content: center;
}
