<div class="container">
    <!-- PROJECTS LIST -->
    <div class="col-50">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    <h1>Exoplanets</h1>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <!-- <pre>{{projects | json}}</pre> -->

                <mat-list>
                    <mat-list-item (click)="selectPlanet(planet)" *ngFor="let planet of planets$ | async">
                        <h3 mat-line>
                            {{planet.pl_name}}
                        </h3>
                        <p mat-line>
                            {{planet.pl_bmasse}}
                        </p>
                        <p>Longitude: {{planet.st_glon}}</p>
                        <p>Latitude: {{planet.st_glat}}</p>
                        <button mat-icon-button>
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- PROJECT DETAILS -->
    <div class="selectedPlanet">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    <h1>
                        <span *ngIf="selectedPlanet.pl_name; else elseBlock">
                            {{selectedPlanet.pl_name}}
                        </span>

                        <ng-template #elseBlock>Planet Stats</ng-template>
                    </h1>
                </mat-card-title>
            </mat-card-header>
            <form (submit)="savePlanet(selectedPlanet)">
                <mat-card-content>
                    <mat-form-field class="full-width">
                        <input matInput placeholer="Title" [(ngModel)]="selectedPlanet.pl_name" type="text"
                            name="title">
                    </mat-form-field>
                    <pre>{{selectedPlanet | json}}</pre>
                </mat-card-content>
                <mat-card-actions>
                    <button type="submit" mat-button color="primary">Save</button>
                    <button type="button" mat-button (click)="cancel()">Cancel</button>
                </mat-card-actions>
            </form>
        </mat-card>
    </div>
    <div class="col-100" id="map"></div>
</div>